
*.bin
panorama/layout/custom_game/*.vxml_c
panorama/styles/custom_game/*.vcss_c
panorama/scripts/custom_game/*.vjs_c
/scripts/vscripts/bots
/panorama/images/items/*.vtex_c
/panorama/images/items/*.vxml_c
/.tool/reference
panorama_debugger.cfg
panorama/images/custom_game/gamemode_png.vtex_c
panorama/images/custom_game/gamemode_png.vxml_c
