
*.bin
panorama/layout/custom_game/*.vxml_c
panorama/styles/custom_game/*.vcss_c
panorama/scripts/custom_game/*.vjs_c
/scripts/vscripts/bots
/panorama/images/items/*.vtex_c
/panorama/images/items/*.vxml_c
/.tool/reference
panorama_debugger.cfg
resource/custom_game_whitelist.txt
/node_modules