#TimerLabelVote {
	color: #a9aaaa;
	font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
	visibility: collapse;
}

#DifficultyContainer
{
	width: 100%;
	flow-children: down;
}
#DifficultyList
{
	width: 100%;
	padding: 5px;
	flow-children: right;
}
.selectTitle
{
	margin: 5px;
	font-size: 26px;
}
.difficultyChoice
{
	margin: 2px;
	height: 30px;
	width: 14%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4b4b4bcc ), to( #2c2c2ccc ) );
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	border: 1px solid #000000;
}
.difficultyChoice.longer{
	width: 20%;
}
.difficultyChoice.selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #838383cc ), to( #2c2c2ccc ) );
}
.difficultyText
{
	font-size: 18px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}
.deactivated .difficultyText
{
	color: #a9aaaa;
}
#TeamsContainer
{
	width: 100%;
	padding: 10px;
}
#GameLoadingStatus
{
	flow-children: down;
	padding: 20px;
	min-height: 100px;
}
#GameLoadingStatusText
{
	font-size: 18px;
}
#UnassignedPlayersContainer
{
	visibility: collapse;
}
