.item_choice_root
{
	width: 100%;
	height: 100%;
}

#item_choice_container
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 250px;
	flow-children: down;
	border-radius: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000b0 ), to( #000000d0 ) );
	box-shadow: #000000ff -5px -5px 5px 10px;
	visibility: collapse;
}

#item_choice_label
{
	color: #ffffffff;
	margin-top: 8px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 24;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 8px 3.0 #000000FF;
}

#item_choice_row
{
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 8px;
	flow-children: right;
}

.item_choice
{
	margin-left: 4px;
	margin-right: 4px;
	height: 64px;
}

#remaining_time
{
	width: 100%;
	height: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 6px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000FF ), color-stop(0.1, #0A4088ff ), to( #609AE0ff ) );
}

#remaining_time .ProgressBarLeft
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000FF ), color-stop(0.1, #0A4088ff ), to( #609AE0ff ) );
}