.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: clip;
}

#CustomBg
{
	width: 100%;
	height: 100%;
	overflow: clip;
	background-image: url("s2r://panorama/images/custom_game/gamemode.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
}

#game_options_container
{
	width: 400px;
	height: 80%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.02, #202327 ), color-stop( 0.3, #141619 ), to( #000000B0 ) );
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
	visibility: collapse;
}

#GameOptionsPanel
{
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
	height: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

#GameOptionsPanelTitle
{
	font-size: 32px;
	color: #FF7800;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
}

.GameOptionsSubPanel
{
	flow-children: right;
	margin-top: 12px;
	width: 100%;
}

.GameOptionsLabel
{
	text-align: left;
	horizontal-align: middle;
	vertical-align:center;
	color: #ffffff;
	
}

.GameOptionsSubPanel .GameOptionsDropdown
{
	margin-left: 10px;
	width: 200px;
	horizontal-align:right;
}

.GameOptionsToggle
{
	margin-left: 10px;
	horizontal-align:right;
}

#ChatHideButtonContainer
{
	height:32px;
	width: 200px;
	vertical-align:bottom;
	margin-bottom:20px;
}

.ChatHideButtonContainerPos16_9
{
	margin-left:720px;
}

.ChatHideButtonContainerPos4_3
{
	margin-left:600px;
}

.ChatHideButtonContainerPos16_10
{
	margin-left:720px;
}

.ChatHideButton
{
	height:100%;
	width:100%;
	visibility:collapse;
}

#ChatHideButtonHide
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD5555FF ), to( #FF0000FF ) );
}

#ChatHideButtonShow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555DDFF ), to( #0000FFFF ) );
}

.ChatHideButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}

.ChatHideButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.ChatHideButton .ChatHideButtonLabel
{
	font-size: 22px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	vertical-align:middle;
}

#display_options_container
{
	margin-top: 20px;
	margin-left: 400px;
	padding-left: 20px;
	width: 350px;
	height: 200px;
	flow-children: down;
	visibility: collapse;
}
#DisplayOptionsPanel
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: #eeffff44;
	padding: 10px;
}
.DisplayOptionsSubPanel
{
	flow-children: right;
	margin-top: 8px;
	width: 100%;
}
.DisplayOptionsLableTitle
{
	text-align: left;
	horizontal-align: middle;
	vertical-align:center;
	color: #555555;
	font-weight: bold;
}
.DisplayOptionsLable
{
	margin-left: 10px;
	horizontal-align:right;
	color: #555555;
	font-weight: bold;
}